---
import Button from './Button.astro'
import Dashboard from './Illustrations/Dashboard.astro'
import Label, { type Props as LabelProps } from './Label.astro'

export interface Props {
  variant?:
    | 'subtle'
    | 'features'
    | 'features-with-illustration'
    | 'highlight'
    | 'enhance'
    | 'special'
    | 'case-study'
    | 'use-case'
  as?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6'
  label?: LabelProps
  title: string
  description?: string
  link?: { label: string; href: string }
}

const {
  variant = 'subtle',
  label,
  title,
  as = 'h4',
  description,
  link,
} = Astro.props

const TitleElement = as

const getTitleTypography = () => {
  switch (variant) {
    case 'subtle':
      return 'font-base-title'
    case 'features':
      return 'font-3xl-title'
    case 'features-with-illustration':
      return 'font-3xl-title'
    case 'highlight':
      return 'font-3xl-title'
    case 'enhance':
      return 'font-xl'
    case 'special':
      return 'font-5xl-title'
    case 'case-study':
      return 'font-3xl-title'
    case 'use-case':
      return 'font-3xl-title'
    default:
      return 'font-base-title'
  }
}

const getDescriptionTypography = () => {
  switch (variant) {
    case 'subtle':
      return 'font-base-body'
    case 'enhance':
      return 'font-xl'
    default:
      return 'font-base'
  }
}
---

<div
  class:list={['card-host', link && 'elevated-link', variant]}
  data-theme={variant === 'enhance' ? 'blue' : undefined}
>
  <div class="card-top-wrapper">
    {label && <Label {...label} />}

    <TitleElement class:list={['card-title', getTitleTypography()]}
      >{title}</TitleElement
    >

    {
      link && description && (
        <p class:list={['card-description', getDescriptionTypography()]}>
          {description}
        </p>
      )
    }
  </div>

  <div class="card-bottom-wrapper">
    {
      !link && description && (
        <p class:list={['card-description', getDescriptionTypography()]}>
          {description}
        </p>
      )
    }

    {
      link && (
        <Button
          as="a"
          data-elevated
          variant="outline"
          label={link.label}
          href={link.href}
          class="card-action-button"
          icon={variant === 'case-study' ? 'arrow-right' : undefined}
          iconPosition={variant === 'case-study' ? 'right' : undefined}
          target={variant === 'case-study' ? '_blank' : undefined}
          rel={variant === 'case-study' ? 'noopener noreferrer' : undefined}
        />
      )
    }
  </div>

  {variant === 'enhance' && <Dashboard class="enhance-illustration" />}
</div>

<style>
  .card-host {
    --card-bg-color: var(--color-offset);
    --card-bg-color-hover: var(--color-soft);
    --card-border-color: var(--color-subtle);
    --card-title-color: var(--color-foreground);
    --card-description-color: var(--color-secondary);
    --card-features-content-max-width: 400px;

    padding: var(--space-20px);

    display: flex;
    flex-direction: column;

    background-color: var(--card-bg-color);

    border: var(--space-1px) solid var(--card-border-color);
    border-radius: var(--radii-xl);

    transition: background-color var(--transition-appearance),
      color var(--transition-appearance), transform var(--transition-motion);

    &.case-study,
    &.features .elevated-link,
    &.use-case {
      @media (hover: hover) {
        &:hover {
          background-color: var(--card-bg-color-hover);
        }
      }
    }

    &.features,
    &.highlight,
    &.features-with-illustration,
    &.use-case {
      min-height: 458px;

      @media (--md) {
        min-height: 524px;
      }

      & .card-description {
        margin-top: var(--space-32px);
      }
    }

    &.features,
    &.features-with-illustration {
      & .card-title,
      & .card-description {
        @media (--md) {
          max-width: var(--card-features-content-max-width);
        }
      }
    }

    &.features,
    &.highlight,
    &.features-with-illustration,
    &.case-study {
      justify-content: space-between;

      @media (--md) {
        padding: var(--space-32px);
      }

      & .card-top-wrapper {
        & > :not(:first-child) {
          margin-top: var(--space-16px);
        }
      }
    }

    /* These are the only cases where font-xl is font-base on mobile (default remains font-xl) */
    &.features,
    &.highlight,
    &.features-with-illustration,
    &.use-case {
      & .card-description {
        @media (--md) {
          font-size: var(--font-size-xl);
          font-weight: var(--font-weight-semibold);
          line-height: var(--font-line-height-relaxed);
          letter-spacing: var(--font-letter-spacing-tigher);
        }
      }
    }

    /* Features Variant with illustration */
    &.features-with-illustration {
      width: 100%;
      height: 100%;

      background-image: url("data:image/svg+xml,%3Csvg width='350' height='458' viewBox='0 0 350 458' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_510_9037)'%3E%3Cpath opacity='0.2' d='M250.854 220.53C250.278 222.855 249.991 224.017 249.23 224.796C248.982 225.049 248.702 225.269 248.396 225.449C247.458 226 246.26 226 243.865 226L184.199 226C180.462 226 178.593 226 177.457 224.993C177.094 224.671 176.793 224.286 176.568 223.857C175.863 222.512 176.312 220.698 177.21 217.07L248.146 -69.5299C248.722 -71.8549 249.009 -73.0174 249.77 -73.7957C250.018 -74.0494 250.298 -74.269 250.604 -74.4487C251.542 -75 252.74 -75 255.135 -75L314.801 -75C318.538 -75 320.407 -75 321.543 -73.993C321.906 -73.6713 322.207 -73.2863 322.432 -72.8568C323.137 -71.5124 322.688 -69.6983 321.79 -66.0701L250.854 220.53Z' fill='url(%23paint0_linear_510_9037)'/%3E%3Cpath opacity='0.1' d='M166.85 55.5226C166.276 57.8506 165.989 59.0145 165.228 59.7939C164.981 60.048 164.7 60.2679 164.394 60.4478C163.455 61 162.256 61 159.859 61L123.19 61C119.455 61 117.588 61 116.453 59.9941C116.09 59.6727 115.789 59.2881 115.564 58.859C114.859 57.5159 115.305 55.703 116.199 52.0774L164.15 -142.523C164.724 -144.851 165.011 -146.015 165.772 -146.794C166.019 -147.048 166.3 -147.268 166.606 -147.448C167.545 -148 168.744 -148 171.141 -148L207.81 -148C211.545 -148 213.412 -148 214.547 -146.994C214.91 -146.673 215.211 -146.288 215.436 -145.859C216.141 -144.516 215.695 -142.703 214.801 -139.077L166.85 55.5226Z' fill='url(%23paint1_linear_510_9037)'/%3E%3Cpath opacity='0.1' d='M44.1503 159.477C44.7239 157.149 45.0108 155.985 45.7715 155.206C46.0195 154.952 46.3001 154.732 46.6061 154.552C47.5449 154 48.7436 154 51.1412 154H87.8105C91.5446 154 93.4117 154 94.5471 155.006C94.9099 155.327 95.2112 155.712 95.4365 156.141C96.1415 157.484 95.6948 159.297 94.8014 162.923L46.8497 357.523C46.2761 359.851 45.9893 361.014 45.2285 361.794C44.9806 362.048 44.6999 362.268 44.3939 362.448C43.4551 363 42.2564 363 39.8588 363H3.18953C-0.544589 363 -2.41165 363 -3.54712 361.994C-3.90988 361.673 -4.21122 361.288 -4.43646 360.859C-5.14147 359.516 -4.69477 357.703 -3.80136 354.077L44.1503 159.477Z' fill='url(%23paint2_linear_510_9037)'/%3E%3Cpath opacity='0.2' d='M341.858 122.537C341.281 124.859 340.992 126.02 340.232 126.797C339.984 127.051 339.703 127.27 339.398 127.449C338.46 128 337.263 128 334.87 128L307.209 128C303.468 128 301.597 128 300.461 126.992C300.098 126.67 299.797 126.285 299.572 125.855C298.868 124.509 299.319 122.694 300.221 119.063L339.142 -37.5366C339.719 -39.859 340.008 -41.0201 340.768 -41.7974C341.016 -42.0507 341.297 -42.27 341.602 -42.4495C342.54 -43 343.737 -43 346.13 -43L373.791 -43C377.532 -43 379.403 -43 380.539 -41.992C380.902 -41.67 381.203 -41.2846 381.428 -40.8548C382.132 -39.5091 381.681 -37.6939 380.779 -34.0634L341.858 122.537Z' fill='url(%23paint3_linear_510_9037)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_510_9037' x1='211.629' y1='224.119' x2='278.075' y2='-76.6034' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_510_9037' x1='139.321' y1='59.6937' x2='185.643' y2='-149.027' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_510_9037' x1='71.6791' y1='155.306' x2='25.3566' y2='364.027' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_510_9037' x1='318.896' y1='126.931' x2='356.502' y2='-43.9767' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_510_9037'%3E%3Crect width='350' height='458' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;

      @media (--md) {
        background-image: url("data:image/svg+xml,%3Csvg width='1352' height='524' viewBox='0 0 1352 524' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_510_9027)'%3E%3Cpath opacity='0.2' d='M547.502 307.42C549.465 300.844 550.447 297.556 552.707 295.372C553.445 294.659 554.271 294.043 555.165 293.54C557.904 292 561.336 292 568.199 292H656.672C664.481 292 668.385 292 670.682 294.116C671.415 294.79 672.014 295.595 672.451 296.49C673.821 299.296 672.704 303.037 670.47 310.52L321.963 1477.72C320.654 1482.1 320 1484.3 318.493 1485.75C318.002 1486.23 317.451 1486.64 316.855 1486.97C315.029 1488 312.741 1488 308.165 1488H214.328C206.519 1488 202.615 1488 200.318 1485.88C199.585 1485.21 198.986 1484.4 198.549 1483.51C197.179 1480.7 198.296 1476.96 200.53 1469.48L547.502 307.42Z' fill='url(%23paint0_linear_510_9027)'/%3E%3Cpath opacity='0.2' d='M658.566 146.713C657.258 151.1 656.605 153.294 655.098 154.751C654.606 155.226 654.055 155.637 653.459 155.972C651.633 157 649.344 157 644.766 157L622.659 157C618.756 157 616.805 157 615.657 155.943C615.291 155.606 614.991 155.203 614.772 154.756C614.087 153.353 614.644 151.483 615.759 147.743L733.967 -248.857C734.621 -251.05 734.948 -252.147 735.701 -252.875C735.947 -253.113 736.222 -253.318 736.52 -253.486C737.434 -254 738.578 -254 740.867 -254L768.341 -254C772.244 -254 774.195 -254 775.343 -252.943C775.709 -252.606 776.009 -252.203 776.228 -251.756C776.913 -250.354 776.356 -248.483 775.241 -244.743L658.566 146.713Z' fill='url(%23paint1_linear_510_9027)'/%3E%3Cpath opacity='0.2' d='M1314.57 282.713C1313.26 287.1 1312.6 289.294 1311.1 290.751C1310.61 291.226 1310.06 291.637 1309.46 291.972C1307.63 293 1305.34 293 1300.77 293L1278.66 293C1274.76 293 1272.81 293 1271.66 291.943C1271.29 291.606 1270.99 291.203 1270.77 290.756C1270.09 289.353 1270.64 287.483 1271.76 283.743L1389.97 -112.857C1390.62 -115.05 1390.95 -116.147 1391.7 -116.875C1391.95 -117.113 1392.22 -117.318 1392.52 -117.486C1393.43 -118 1394.58 -118 1396.87 -118L1424.34 -118C1428.24 -118 1430.2 -118 1431.34 -116.943C1431.71 -116.606 1432.01 -116.203 1432.23 -115.756C1432.91 -114.354 1432.36 -112.483 1431.24 -108.743L1314.57 282.713Z' fill='url(%23paint2_linear_510_9027)'/%3E%3Cpath opacity='0.2' d='M1045.97 -113.857C1046.62 -116.05 1046.95 -117.147 1047.7 -117.875C1047.95 -118.113 1048.22 -118.318 1048.52 -118.486C1049.43 -119 1050.58 -119 1052.87 -119H1080.34C1084.24 -119 1086.19 -119 1087.34 -117.943C1087.71 -117.606 1088.01 -117.203 1088.23 -116.756C1088.91 -115.354 1088.36 -113.483 1087.24 -109.743L969.033 286.857C968.379 289.05 968.052 290.147 967.299 290.875C967.053 291.113 966.778 291.318 966.48 291.486C965.566 292 964.422 292 962.133 292H934.659C930.756 292 928.805 292 927.657 290.943C927.291 290.606 926.991 290.203 926.772 289.756C926.087 288.354 926.644 286.483 927.759 282.743L1045.97 -113.857Z' fill='url(%23paint3_linear_510_9027)'/%3E%3Cpath opacity='0.2' d='M781.899 213.713C780.592 218.1 779.938 220.294 778.431 221.751C777.94 222.226 777.389 222.637 776.792 222.972C774.966 224 772.677 224 768.099 224L717.659 224C713.756 224 711.805 224 710.657 222.943C710.291 222.605 709.991 222.203 709.772 221.756C709.087 220.353 709.644 218.483 710.759 214.743L910.634 -455.857C911.287 -458.05 911.614 -459.147 912.368 -459.875C912.614 -460.113 912.889 -460.318 913.187 -460.486C914.1 -461 915.245 -461 917.534 -461L973.341 -461C977.244 -461 979.195 -461 980.343 -459.943C980.709 -459.606 981.009 -459.203 981.228 -458.756C981.913 -457.354 981.356 -455.483 980.241 -451.743L781.899 213.713Z' fill='url(%23paint4_linear_510_9027)'/%3E%3Cpath opacity='0.21' d='M1471.68 -1176.71C1472.98 -1181.1 1473.64 -1183.29 1475.14 -1184.75C1475.64 -1185.23 1476.19 -1185.64 1476.78 -1185.97C1478.61 -1187 1480.9 -1187 1485.48 -1187H1608.69C1616.49 -1187 1620.39 -1187 1622.69 -1184.89C1623.42 -1184.21 1624.02 -1183.41 1624.46 -1182.51C1625.83 -1179.71 1624.71 -1175.97 1622.49 -1168.49L1190.85 280.566C1188.89 287.148 1187.91 290.439 1185.65 292.625C1184.92 293.339 1184.09 293.955 1183.2 294.458C1180.46 296 1177.02 296 1170.15 296H1052.31C1044.51 296 1040.61 296 1038.31 293.885C1037.58 293.212 1036.98 292.407 1036.54 291.513C1035.17 288.708 1036.29 284.968 1038.51 277.489L1471.68 -1176.71Z' fill='url(%23paint5_linear_510_9027)'/%3E%3Cpath opacity='0.2' d='M1106.77 370.432C1108.73 363.851 1109.71 360.56 1111.97 358.374C1112.7 357.661 1113.53 357.045 1114.43 356.542C1117.17 355 1120.6 355 1127.47 355H1215.68C1223.49 355 1227.39 355 1229.69 357.115C1230.42 357.789 1231.02 358.593 1231.46 359.487C1232.83 362.292 1231.71 366.032 1229.48 373.512L881.702 1540.71C880.395 1545.1 879.741 1547.29 878.234 1548.75C877.742 1549.23 877.192 1549.64 876.595 1549.97C874.769 1551 872.479 1551 867.901 1551H774.316C766.512 1551 762.609 1551 760.312 1548.89C759.58 1548.21 758.981 1547.41 758.544 1546.51C757.173 1543.71 758.287 1539.97 760.516 1532.49L1106.77 370.432Z' fill='url(%23paint6_linear_510_9027)'/%3E%3Cpath opacity='0.2' d='M866.765 200.432C868.726 193.851 869.707 190.56 871.967 188.374C872.705 187.661 873.531 187.045 874.425 186.542C877.165 185 880.599 185 887.466 185H975.684C983.488 185 987.391 185 989.688 187.115C990.42 187.789 991.019 188.593 991.456 189.487C992.827 192.292 991.713 196.032 989.484 203.512L641.702 1370.71C640.395 1375.1 639.741 1377.29 638.234 1378.75C637.742 1379.23 637.192 1379.64 636.595 1379.97C634.769 1381 632.479 1381 627.901 1381H534.316C526.512 1381 522.609 1381 520.312 1378.89C519.58 1378.21 518.981 1377.41 518.544 1376.51C517.173 1373.71 518.287 1369.97 520.516 1362.49L866.765 200.432Z' fill='url(%23paint7_linear_510_9027)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_510_9027' x1='615.085' y1='295.292' x2='493.351' y2='818.899' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_510_9027' x1='633.896' y1='155.869' x2='675.796' y2='-24.0336' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_510_9027' x1='1289.9' y1='291.869' x2='1331.8' y2='111.966' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_510_9027' x1='1069.1' y1='-117.869' x2='1027.2' y2='62.0336' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_510_9027' x1='742.826' y1='222.115' x2='812.66' y2='-77.7227' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_510_9027' x1='1074' y1='491.5' x2='1445.3' y2='-520' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_510_9027' x1='1174.21' y1='358.292' x2='1052.25' y2='881.787' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_510_9027' x1='934.212' y1='188.292' x2='812.251' y2='711.787' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_510_9027'%3E%3Crect width='1352' height='524' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    /* Highlight Variant */
    &.highlight {
      position: relative;

      box-shadow: var(--shadow-xs);

      &::after {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        border-bottom: var(--space-1px) solid var(--card-border-color);
        border-right: var(--space-1px) solid var(--card-border-color);
        border-radius: var(--radii-1-5xl);

        opacity: 0;

        transition: transform var(--transition-motion);
      }

      & .card-action-button {
        transition: background-color var(--transition-appearance);
      }

      & .card-title {
        @media (--md) {
          max-width: var(--card-features-content-max-width);
        }
      }

      @media (hover: hover) {
        &:hover {
          /* This is needed for the Label */
          --color-foreground: var(--color-accent-contrast);
          --color-subtle: hsl(var(--color-grey-50-hsl) / var(--opacity-8));

          color: var(--color-accent-contrast);
          background-color: var(--color-accent);

          --card-description-color: var(--color-accent-contrast);
          --card-title-color: var(--color-accent-contrast);

          transform: translateY(-6px) translateX(-6px);

          &::after {
            opacity: 1;
            transform: translateY(6px) translateX(6px);
          }

          & .card-action-button {
            --button-color: var(--color-blue-500);
            --button-bg-color: var(--color-grey-50);
            --button-bg-color-hover: var(--color-grey-50);
            --button-border-color: transparent;
          }
        }
      }

      @media (hover: none) {
        --color-foreground: var(--color-accent-contrast);
        --color-subtle: hsl(var(--color-grey-50-hsl) / var(--opacity-8));

        color: var(--color-accent-contrast);
        background-color: var(--color-accent);

        --card-description-color: var(--color-accent-contrast);
        --card-title-color: var(--color-accent-contrast);

        & .card-action-button {
          --button-color: var(--color-blue-500);
          --button-bg-color: var(--color-grey-50);
          --button-bg-color-hover: var(--color-grey-50);
          --button-border-color: transparent;
        }
      }
    }

    /* Enhance Variant */
    &.enhance {
      border: none;

      overflow: hidden;

      & .card-description {
        margin-bottom: var(--space-20px);
      }

      background-image: url("data:image/svg+xml,%3Csvg width='1458' height='1193' viewBox='0 0 1458 1193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5' filter='url(%23filter0_f_22_51)'%3E%3Cpath d='M866.164 762.287C700.304 835.455 572.179 946.439 528.849 992.786L520.073 387.539C710.761 302.981 1106.04 179.747 1161.66 363.268C1231.18 592.67 1073.49 670.828 866.164 762.287Z' fill='%23F4F4F4'/%3E%3Cellipse opacity='0.6' cx='1080.07' cy='501.897' rx='177.844' ry='184.289' fill='%23FB2FFF'/%3E%3C/g%3E%3Cg style='mix-blend-mode:overlay' opacity='0.5' filter='url(%23filter1_f_22_51)'%3E%3Cpath d='M585.242 509.046C570.959 629.931 624.652 709.332 653.283 733.922C702.325 796.723 846.366 884.891 867.159 859.524C887.951 834.157 879.204 782.463 814.102 743.795C749 705.127 713.796 563.071 697.091 469.281C680.385 375.491 603.095 357.94 585.242 509.046Z' fill='%23952AFF'/%3E%3Cpath d='M963.276 200.902C983.28 206.712 995.815 246.459 1023.17 430.086C1043.23 553.335 1020.69 493.703 1013.76 606.716C1006.84 719.729 1044.62 772.077 1025.59 889.39C1006.56 1006.7 933.665 494.825 919.798 411.888C905.931 328.952 943.271 195.092 963.276 200.902Z' fill='%232AFFB2'/%3E%3Cpath d='M217.061 678.8C172.977 597.214 206.089 559.78 415.539 537.704C569.933 547.713 473.926 460.505 562.095 415.256C650.264 370.006 666.135 522.209 699.051 650.142C731.967 778.075 604.612 752.708 456.489 780.269C308.365 807.83 261.146 760.386 217.061 678.8Z' fill='%2300A3FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_22_51' x='320.073' y='67.9858' width='1137.84' height='1124.8' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_22_51'/%3E%3C/filter%3E%3Cfilter id='filter1_f_22_51' x='0.0176086' y='0.719257' width='1231.28' height='1106.05' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_22_51'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top 10% left 55%;
    }

    /* Special Variant */
    &.special {
      --card-title-color: var(--color-accent);

      padding-block: var(--space-52px);

      align-items: center;
      justify-content: center;
      text-align: center;

      background-image: url("data:image/svg+xml,%3Csvg width='350' height='156' viewBox='0 0 350 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_73_10161)'%3E%3Cpath opacity='0.2' d='M227.142 -69.5366C227.719 -71.859 228.008 -73.0201 228.768 -73.7974C229.016 -74.0507 229.297 -74.27 229.602 -74.4495C230.54 -75 231.737 -75 234.13 -75H261.791C265.532 -75 267.403 -75 268.539 -73.992C268.902 -73.67 269.203 -73.2846 269.428 -72.8548C270.132 -71.5091 269.681 -69.6939 268.779 -66.0634L229.858 90.5366C229.281 92.8589 228.992 94.0201 228.232 94.7974C227.984 95.0507 227.703 95.27 227.398 95.4495C226.46 96 225.263 96 222.87 96H195.209C191.468 96 189.597 96 188.461 94.992C188.098 94.67 187.797 94.2846 187.572 93.8548C186.868 92.5091 187.319 90.6939 188.221 87.0634L227.142 -69.5366Z' fill='url(%23paint0_linear_73_10161)'/%3E%3Cpath opacity='0.2' d='M67.1421 52.4634C67.7193 50.141 68.0079 48.9799 68.7684 48.2026C69.0163 47.9493 69.2967 47.73 69.6024 47.5505C70.5401 47 71.7366 47 74.1296 47H101.791C105.532 47 107.403 47 108.539 48.008C108.902 48.33 109.203 48.7154 109.428 49.1452C110.132 50.4909 109.681 52.3061 108.779 55.9366L69.8579 212.537C69.2807 214.859 68.9921 216.02 68.2316 216.797C67.9837 217.051 67.7033 217.27 67.3976 217.449C66.4599 218 65.2634 218 62.8704 218H35.2085C31.4676 218 29.5971 218 28.461 216.992C28.0981 216.67 27.7968 216.285 27.5719 215.855C26.8676 214.509 27.3188 212.694 28.2211 209.063L67.1421 52.4634Z' fill='url(%23paint1_linear_73_10161)'/%3E%3Cpath opacity='0.2' d='M7.14215 -77.5366C7.71933 -79.859 8.00792 -81.0201 8.7684 -81.7974C9.01627 -82.0507 9.29672 -82.27 9.60238 -82.4495C10.5401 -83 11.7366 -83 14.1296 -83H41.7915C45.5324 -83 47.4029 -83 48.539 -81.992C48.9019 -81.67 49.2032 -81.2846 49.4281 -80.8548C50.1324 -79.5091 49.6812 -77.6939 48.7789 -74.0634L9.85785 82.5366C9.28067 84.8589 8.99208 86.0201 8.2316 86.7974C7.98373 87.0507 7.70328 87.27 7.39762 87.4495C6.45988 88 5.26339 88 2.87043 88H-24.7915C-28.5324 88 -30.4029 88 -31.539 86.992C-31.9019 86.67 -32.2032 86.2846 -32.4281 85.8548C-33.1324 84.5091 -32.6812 82.6939 -31.7789 79.0634L7.14215 -77.5366Z' fill='url(%23paint2_linear_73_10161)'/%3E%3Cpath opacity='0.2' d='M339.142 -37.5366C339.719 -39.859 340.008 -41.0201 340.768 -41.7974C341.016 -42.0507 341.297 -42.27 341.602 -42.4495C342.54 -43 343.737 -43 346.13 -43H373.791C377.532 -43 379.403 -43 380.539 -41.992C380.902 -41.67 381.203 -41.2846 381.428 -40.8548C382.132 -39.5091 381.681 -37.6939 380.779 -34.0634L341.858 122.537C341.281 124.859 340.992 126.02 340.232 126.797C339.984 127.051 339.703 127.27 339.398 127.449C338.46 128 337.263 128 334.87 128H307.209C303.468 128 301.597 128 300.461 126.992C300.098 126.67 299.797 126.285 299.572 125.855C298.868 124.509 299.319 122.694 300.221 119.063L339.142 -37.5366Z' fill='url(%23paint3_linear_73_10161)'/%3E%3Cpath opacity='0.2' d='M167.142 132.463C167.719 130.141 168.008 128.98 168.768 128.203C169.016 127.949 169.297 127.73 169.602 127.551C170.54 127 171.737 127 174.13 127H201.791C205.532 127 207.403 127 208.539 128.008C208.902 128.33 209.203 128.715 209.428 129.145C210.132 130.491 209.681 132.306 208.779 135.937L169.858 292.537C169.281 294.859 168.992 296.02 168.232 296.797C167.984 297.051 167.703 297.27 167.398 297.449C166.46 298 165.263 298 162.87 298H135.209C131.468 298 129.597 298 128.461 296.992C128.098 296.67 127.797 296.285 127.572 295.855C126.868 294.509 127.319 292.694 128.221 289.063L167.142 132.463Z' fill='url(%23paint4_linear_73_10161)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_73_10161' x1='250.104' y1='-73.9312' x2='212.498' y2='96.9767' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_73_10161' x1='90.1041' y1='48.0688' x2='52.4981' y2='218.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_73_10161' x1='30.1041' y1='-81.9312' x2='-7.50194' y2='88.9767' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_73_10161' x1='362.104' y1='-41.9312' x2='324.498' y2='128.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_73_10161' x1='190.104' y1='128.069' x2='152.498' y2='298.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_73_10161'%3E%3Crect width='350' height='156' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-size: cover;

      @media (--md) {
        background-image: url("data:image/svg+xml,%3Csvg width='600' height='156' viewBox='0 0 600 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_73_10155)'%3E%3Cpath opacity='0.2' d='M226.809 -69.5366C227.386 -71.859 227.675 -73.0201 228.435 -73.7974C228.683 -74.0507 228.964 -74.27 229.269 -74.4495C230.207 -75 231.404 -75 233.797 -75H261.458C265.199 -75 267.07 -75 268.206 -73.992C268.569 -73.67 268.87 -73.2846 269.095 -72.8548C269.799 -71.5091 269.348 -69.6939 268.446 -66.0634L229.525 90.5366C228.948 92.8589 228.659 94.0201 227.899 94.7974C227.651 95.0507 227.37 95.27 227.065 95.4495C226.127 96 224.93 96 222.537 96H194.876C191.135 96 189.264 96 188.128 94.992C187.765 94.67 187.464 94.2846 187.239 93.8548C186.535 92.5091 186.986 90.6939 187.888 87.0634L226.809 -69.5366Z' fill='url(%23paint0_linear_73_10155)'/%3E%3Cpath opacity='0.2' d='M66.8091 52.4634C67.3863 50.141 67.6749 48.9799 68.4354 48.2026C68.6833 47.9493 68.9637 47.73 69.2694 47.5505C70.2071 47 71.4036 47 73.7966 47H101.458C105.199 47 107.07 47 108.206 48.008C108.569 48.33 108.87 48.7154 109.095 49.1452C109.799 50.4909 109.348 52.3061 108.446 55.9366L69.5248 212.537C68.9477 214.859 68.6591 216.02 67.8986 216.797C67.6507 217.051 67.3703 217.27 67.0646 217.449C66.1269 218 64.9304 218 62.5374 218H34.8755C31.1345 218 29.2641 218 28.128 216.992C27.7651 216.67 27.4638 216.285 27.2388 215.855C26.5346 214.509 26.9858 212.694 27.8881 209.063L66.8091 52.4634Z' fill='url(%23paint1_linear_73_10155)'/%3E%3Cpath opacity='0.2' d='M6.80914 -77.5366C7.38632 -79.859 7.67492 -81.0201 8.43539 -81.7974C8.68327 -82.0507 8.96371 -82.27 9.26937 -82.4495C10.2071 -83 11.4036 -83 13.7966 -83H41.4585C45.1994 -83 47.0699 -83 48.206 -81.992C48.5689 -81.67 48.8702 -81.2846 49.0951 -80.8548C49.7994 -79.5091 49.3482 -77.6939 48.4459 -74.0634L9.52485 82.5366C8.94766 84.8589 8.65907 86.0201 7.89859 86.7974C7.65072 87.0507 7.37027 87.27 7.06461 87.4495C6.12687 88 4.93039 88 2.53742 88H-25.1245C-28.8655 88 -30.7359 88 -31.872 86.992C-32.2349 86.67 -32.5362 86.2846 -32.7612 85.8548C-33.4654 84.5091 -33.0142 82.6939 -32.1119 79.0634L6.80914 -77.5366Z' fill='url(%23paint2_linear_73_10155)'/%3E%3Cpath opacity='0.2' d='M439.809 32.4634C440.386 30.141 440.675 28.9799 441.435 28.2026C441.683 27.9493 441.964 27.73 442.269 27.5505C443.207 27 444.404 27 446.797 27H474.458C478.199 27 480.07 27 481.206 28.008C481.569 28.33 481.87 28.7154 482.095 29.1452C482.799 30.4909 482.348 32.3061 481.446 35.9366L442.525 192.537C441.948 194.859 441.659 196.02 440.899 196.797C440.651 197.051 440.37 197.27 440.065 197.449C439.127 198 437.93 198 435.537 198H407.876C404.135 198 402.264 198 401.128 196.992C400.765 196.67 400.464 196.285 400.239 195.855C399.535 194.509 399.986 192.694 400.888 189.063L439.809 32.4634Z' fill='url(%23paint3_linear_73_10155)'/%3E%3Cpath opacity='0.2' d='M589.809 -37.5366C590.386 -39.859 590.675 -41.0201 591.435 -41.7974C591.683 -42.0507 591.964 -42.27 592.269 -42.4495C593.207 -43 594.404 -43 596.797 -43H624.458C628.199 -43 630.07 -43 631.206 -41.992C631.569 -41.67 631.87 -41.2846 632.095 -40.8548C632.799 -39.5091 632.348 -37.6939 631.446 -34.0634L592.525 122.537C591.948 124.859 591.659 126.02 590.899 126.797C590.651 127.051 590.37 127.27 590.065 127.449C589.127 128 587.93 128 585.537 128H557.876C554.135 128 552.264 128 551.128 126.992C550.765 126.67 550.464 126.285 550.239 125.855C549.535 124.509 549.986 122.694 550.888 119.063L589.809 -37.5366Z' fill='url(%23paint4_linear_73_10155)'/%3E%3Cpath opacity='0.2' d='M292.809 132.463C293.386 130.141 293.675 128.98 294.435 128.203C294.683 127.949 294.964 127.73 295.269 127.551C296.207 127 297.404 127 299.797 127H327.458C331.199 127 333.07 127 334.206 128.008C334.569 128.33 334.87 128.715 335.095 129.145C335.799 130.491 335.348 132.306 334.446 135.937L295.525 292.537C294.948 294.859 294.659 296.02 293.899 296.797C293.651 297.051 293.37 297.27 293.065 297.449C292.127 298 290.93 298 288.537 298H260.876C257.135 298 255.264 298 254.128 296.992C253.765 296.67 253.464 296.285 253.239 295.855C252.535 294.509 252.986 292.694 253.888 289.063L292.809 132.463Z' fill='url(%23paint5_linear_73_10155)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_73_10155' x1='249.771' y1='-73.9312' x2='212.165' y2='96.9767' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_73_10155' x1='89.7711' y1='48.0688' x2='52.1651' y2='218.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_73_10155' x1='29.7711' y1='-81.9312' x2='-7.83495' y2='88.9767' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_73_10155' x1='462.771' y1='28.0688' x2='425.165' y2='198.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_73_10155' x1='612.771' y1='-41.9312' x2='575.165' y2='128.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_73_10155' x1='315.771' y1='128.069' x2='278.165' y2='298.977' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A6AFF'/%3E%3Cstop offset='0.609464' stop-color='%232A6AFF' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%232A6AFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_73_10155'%3E%3Crect width='601' height='156' fill='white' transform='translate(-0.333008)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    /* Use Case Variant */
    &.use-case {
      height: 100%;

      @media (--md) {
        padding: var(--space-32px);
      }

      & .card-title,
      & .card-description {
        @media (--md) {
          max-width: var(--card-features-content-max-width);
        }
      }

      & .card-top-wrapper {
        & > :not(:first-child) {
          margin-top: var(--space-16px);
        }

        @media (--md) {
          & > :not(:first-child) {
            margin-top: var(--space-32px);
          }
        }
      }

      & .card-bottom-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
      }

      & .card-description {
        margin-top: var(--space-12px);

        @media (--md) {
          margin-top: var(--space-16px);
        }
      }
    }

    &.case-study {
      @media (--md) {
        min-height: 364px;
      }

      & .card-action-button {
        margin-top: var(--space-40px);
      }
    }
  }

  .enhance-illustration {
    margin: auto 0 calc(var(--space-40px) * -1) calc(var(--space-20px) * -1);
  }

  .card-title {
    color: var(--card-title-color);
  }

  .card-description {
    margin-top: var(--space-4px);

    color: var(--card-description-color);
  }

  .card-top-wrapper {
    & > :not(:first-child) {
      margin-top: var(--space-20px);
    }
  }

  .card-bottom-wrapper {
    & > :not(:last-child) {
      margin-bottom: var(--space-16px);
    }
  }
</style>
