---
import '@styles/index.pcss'

import CookieBanner from '@components/CookieBanner.astro'

export interface Props {
  title: string
  description?: string | string[]
  coverImage?: string
}

const title = Astro.props.title || 'Identity at scale | SlashID'
const description =
  Astro.props.description || 'The identity platform for serious scale'
const coverImage = new URL(Astro.props.coverImage || '/og.png', Astro.site).href
const stringDescription = Array.isArray(description)
  ? description[0]
  : description
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script type="text/javascript">
      ;(window.heap = window.heap || []),
        (window.heap.load = function (e, t) {
          ;(window.heap.appid = e), (window.heap.config = t = t || {})
          var r = document.createElement('script')
          ;(r.type = 'text/javascript'),
            (r.async = !0),
            (r.src = 'https://cdn.heapanalytics.com/js/heap-' + e + '.js')
          var a = document.getElementsByTagName('script')[0]
          a.parentNode.insertBefore(r, a)
          for (
            var n = function (e) {
                return function () {
                  window.heap.push(
                    [e].concat(Array.prototype.slice.call(arguments, 0))
                  )
                }
              },
              p = [
                'addEventProperties',
                'addUserProperties',
                'clearEventProperties',
                'identify',
                'resetIdentity',
                'removeEventProperty',
                'setEventProperties',
                'track',
                'unsetEventProperty',
              ],
              o = 0;
            o < p.length;
            o++
          )
            window.heap[p[o]] = n(p[o])
        })
      window.heap.load('1792966179')
    </script>

    <script>
      import '../scripts/gtag'
    </script>

    <!-- TODO: add back after domain is configured -->
    <!-- <link href={(new URL(Astro.props.url || '', Astro.site)).href} rel="canonical" /> -->

    <title>{title}</title>
    <meta name="og:title" property="og:title" content={title} />
    <meta name="description" content={stringDescription} />
    <meta
      name="og:description"
      property="og:description"
      content={stringDescription}
    />
    <meta name="og:image" property="og:image" content={coverImage} />
    <slot name="head" />
  </head>
  <body>
    <div class="sticky-footer">
      <slot />
    </div>
    <CookieBanner />
  </body>
</html>

<style>
  .sticky-footer {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }
</style>
